BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
ColumnLimit: 100
# Ini rahasia buat ngeratain kanan-kiri yang kamu mau:
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true